#cpdb-metabox-wrapper {
	width:100%;
	height:auto;
	margin: 0 auto;
}

#cartopress_locator {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', san-serif;
}

#cartopress_locator h1, 
#cartopress_locator h2,
#cartopress_locator h3,
#cartopress_locator h4,
#cartopress_locator h5,
#cartopress_locator h6 {
	font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', san-serif;
}

#cartopress_locator h4 {
	font-weight:400;
	color:#0074a2;
	margin-bottom:0;
}

#cartopress_locator .hndle {
	background: rgba(250, 250, 250, 1);
}

#cartopress_locator	section {
	box-sizing:border-box;
	border-top:1px solid #C7C7C7; 
	border-bottom:1px solid #C7C7C7;
	padding:10px 0; 
	margin:10px 0;
	overflow:auto;
}
	
#cartopress_locator #omnibar {
	width: calc(100% - 208px);
	font-size:12px;
	padding-top:4px;
	padding-bottom:4px;
}

#cpdb-search-button {
	width:79px;
}

#cartopress_locator .getCurrentPosition {
	float: right;
}

#cartopress_locator .cpdb-maincontent {
	width:100%;
	margin:0 10px 0 0;
	float:left;
	position: relative;
}

#cartopress_locator #map {
	display:block;
	background:rgba(0,0,0,.4);
	width:100%;
	height:300px;
}

#cartopress_locator #cpdb-geocode-values span#cpdb-admin-toggle {
	width:15px;
	height:15px;
	font-size:15px;
	line-height:15px;
	background-size:contain;
	float:right;
	margin-left:10px;
}

#cartopress_locator #cpdb-cartodb-id {
	float:right;
	margin:0;
	font-style:italic;
	font-weight:300;
	font-size:10px;
	color:#666666;
}
#cartopress_locator #cpdb-cartodb-id span#cartodb-id {
	display:inline;
}

#cpdb-admin-panel {
	height:0px;
	opacity:0;
	border-top-width:0px;
	border-bottom:none;
	display:none;
}

#cartopress_locator #cpdb-geocode-values label#cpdb-donotsync-label {
	float:none;
	color:#666666;
	margin-left:5px;
	font-weight:normal;
}

#cpdb-admin-panel .button {
	float:right;
	margin-left:5px;
	box-shadow:none;
	
}
#cpdb-admin-panel #cpdb-delete-button {
	background-color:#dd3d36;
	color:#FFFFFF;
	border-color:#bb2a24;
}
#cpdb-admin-panel #cpdb-delete-button:hover {
	background-color:#bb2a24;
}

#cpdb-admin-panel #cpdb-delete-button:after {
	content:'';
	display:block;
	clear:both;
}

#cartopress_locator #cpdb-geocode-values {
	 box-sizing:border-box;
	 background:rgba(250, 250, 250, 1);
	 padding:10px;
}

#cartopress_locator #cpdb-geocode-values div.row {
	width: 100%;
	display: block;
	float: left;
}

div.row .cp-col-12 {
	width: 100%;
	float: left;
}

div.row .cp-col-6 {
	width: 49%;
	float: left;
	margin-left: 2%;
}

div.row .cp-col-4 {
	width: 31.3333%;
	float: left;
	margin-left: 3%;
}

div.row > .cp-col-6:first-child {
	margin-left: 0;
}

div.row > .cp-col-4:first-child {
	margin-left: 0;
}


#cartopress_locator #cpdb-geocode-values input, #cartopress_locator #cpdb-geocode-values textarea {
	 box-sizing:border-box;
	 font-size:smaller;
}

#cartopress_locator #cpdb-geocode-values input.disabled, #cartopress_locator #cpdb-geocode-values textarea.disabled {
	 font-style: italic;
}

#cartopress_locator #cpdb-geocode-values input.ent, #cartopress_locator #cpdb-geocode-values textarea.ent {
	 border:1px solid rgb(133,197,223);
}

#cartopress_locator #cpdb-geocode-values label {
	 float:left;
	 line-height:1.2;
	 font-weight:bold;
	 color:#AAAAAA;
	 font-size: 10px;
}

#cartopress_locator #cpdb-geocode-values .row label {
	float: none;
}

#cartopress_locator #cpdb-geocode-values span {
	 display:block;
	 overflow:hidden;
	 margin-bottom:5px;
	 width: 100%;
}

#cartopress_locator #cpdb-geocode-values span.smaller {
	float:left;
	padding: 0;
	position: relative;
}

#cartopress_locator #cpdb-geocode-values span > input, #cartopress_locator #cpdb-geocode-values span > textarea{
	width: 100%;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; 
    margin: 0;
}

#cartopress_locator #cpdb-geocode-values #unlock_manual_edit ~ label {
	float:none;
	color:#666666;
	margin-left:5px;
	font-weight:normal;
}


#cartopress_locator #cp_post_description {
	width:100%;
	min-height:80px;
	max-width:100%;
}

#toggle-in-search {
	float:left;
	margin-right:5px;
	margin-top: -2px;
}

#toggle-in-map:before {
	content: "\f502";
}

#toggle-in-map {
	position:absolute;
	right:5px;
	top:7px;
	z-index: 10;
	display: block;
}

.cpdb-toggle-results {
	width:20px;
	height:20px;
	display:block;
	color:#666666;
}

.cpdb-toggle-results:hover, #cpdb-admin-toggle:hover {
	cursor:pointer;
	color:#0074a2;
}

#cartopress_locator #results {
	box-sizing:border-box;
	display:block;
	height:100%;
	float:right;
	width:0px;
	padding:0px;
	overflow-y: auto;
	position:relative;
	opacity:0px;
}

#cartopress_locator #results h4 {
	margin-top:0;
}

#cartopress_locator	.cpdb-result-item {
	background:rgba(0,116,162,0);
	box-sizing: border-box;
	padding:10px;
	border-bottom: 1px solid #CFCFCF;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

#cartopress_locator	.cpdb-result-item:last-of-type {
	border-bottom: none;
}

#cartopress_locator	.cpdb-result-item h1 {
	font-size:12px;
	font-weight:normal;
	margin:0 0 10px 0;
	line-height:1.2;
}

#cartopress_locator	.cpdb-result-item h1:first-child {
	margin:0;
}

#cartopress_locator	.cpdb-result-item h2 {
	font-size:10px;
	margin:0;
	padding:0;
	line-height: normal;
	text-indent:5px;
	color:#666666;
}

#cartopress_locator	.cpdb-result-item h2 span {
	font-weight: 300;
	font-style:italic;
}


#cartopress_locator	.cpdb-result-item:hover {
	background:rgba(0,116,162,1);
	cursor:pointer;
}
#cartopress_locator	.cpdb-result-item:hover * {
	color:#FFFFFF;
}

#cartopress_locator .cpdb-result-item .selected {
	background: rgba(0,116,162,.4);
	border: 1px solid rgba(0,116,162,1);
}
	
#cartopress_locator	#comments {
	display: block;
	font-size: 10px;
}

#cartopress_locator	#comments p {
	margin:20px 0 20px 0;
	padding:8px 12px;
	background:#FFFFFF;
	border-left:4px solid #0074a2;
	border-top:1px solid rgb(220,220,220);
	font-style:italic;
	box-shadow: 0 0 3px rgba(0,0,0,.1);
}
#cartopress_locator	#comments p.success {
	border-left-color:#7AD03A;
}
#cartopress_locator	#comments p.error {
	border-left-color:#dd3d36;
}
#cartopress_locator	#comments p.warning {
	border-left-color:#ffba00;
}

/*---------------RESPONSIVE----------------*/
@media(max-width:1200px) {
	#cartopress_locator .cpdb-maincontent {
		width:100%;
		float:none;
	}
	
	#cartopress_locator #results {
		height:0px;
		max-height:300px;
		float:none;
		width:100%;
		padding:0;
		opacity:0;
		margin-bottom:20px;
		border-bottom:1px solid #EFEFEF;
	}
}

@media(max-width:783px) {
	#cartopress_locator #omnibar {
		width: 100%;
		margin-bottom:3px;
	}
	
	#cpdb-search-button {
		width:auto;
	}
	
	#cartopress_locator .getCurrentPosition {
		float: left;
		margin-right:3px;
	}	
}
